{% load static %}
<style>
.endFooter{
    background-color: black;
    color:rgb(196, 192, 192);


}
.endFooter p{
    font-weight: normal;
    letter-spacing: 2px;
    color: #666666;
    margin: 0;

}
.endFooter .row{
    padding: 16px;
}

.endFooter ul{
    margin: 0;
}
.endFooter .sam{
    text-align: right;
}
.endFooter ul li{
    display: inline;
    font-size: 18px;
    margin-left: 30px;
}
.endFooter ul li a{
    text-decoration: none;
    color: #666666;

}
</style>
<footer class="endFooter">
    <div class="container">
    <div class="row ">
    <div class="col-sm-6 text-center text-sm-left text-uppercase">
        <p>&copy;Copyright 2021 E4C</p>
    </div>
    <div class="col-sm-6 text-center text-sm-right">
        <ul class="social-links list-unstyled">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>

        </ul>
        
    </div>
    </div>
</div>
</footer>