<style>
    
p{
    font-weight: 400;
}
small{
    color:red;
    text-decoration:line-through;
    font-size:16px
}
.product-card{
    text-decoration: none;
    color: black;
}
</style>
<div class="container" style="background-color: #e9ebee; margin-bottom: 16px;">
    <div class="row">
        {% for object in object_list%}
        <div class="col-6 col-md-3 col-lg-2 {{col_class_set}} text-center img-thumbnail" style=" border: 10px solid #e9ebee;">
            <div style="padding: 10px; ;">
                {% include "products/product_card.html" with product=object %}
            </div>
        </div>
        {% endfor %}
        

    </div>


</div>